:root {
    font-family: Helvetica, Arial, sans-serif;
    --background-color: rgb(238, 238, 240);
    --background-color-bubble: rgb(255, 255, 255);
    --important-color: rgb(255, 184, 110);
    --selection-color: rgb(0, 122, 255);
    --inactive-label-color: rgb(142, 142, 147);
    --text-color: rgb(0, 0, 0);
    --base-font-size: 13px;
    --main-font-weight: normal;
    --contentarea-dynamic: 94vw;
    --contentarea-max: 1200px;
    --border-radius: 28px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(28, 28, 28);
        --background-color-bubble: rgb(48, 48, 48);
        --important-color: rgb(255, 159, 10);
        --selection-color: rgb(10, 132, 255);
        --inactive-label-color: rgb(152, 152, 157);
        --text-color: rgb(255, 255, 255);
    }
}

body,
html {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--contentarea-dynamic);
    max-width: var(--contentarea-max);
    margin: 16px 16px;
}

.flex-container-fixed {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-container-scroll {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 80vh;
    width: var(--contentarea-dynamic);
    max-width: var(--contentarea-max);
    /*overflow: auto;*/
}

.flex-container-elements {
    display: flex;
    /*justify-content: flex-start;*/
    flex-wrap: wrap;
    /*overflow: auto;*/
    border-radius: var(--border-radius);
}

.toolbar {
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    /*overflow: hidden;*/
    /*width: 100%;*/ /*KEEP THIS*/ /*KEEP THIS*/ /*KEEP THIS*/
    margin: 8px 8px 24px 8px;
    padding: 16px 40px;
    /*background-color: var(--background-color-bubble);*/ /*KEEP THIS*/ /*KEEP THIS*/ /*KEEP THIS*/
    border-radius: var(--border-radius);
}

.list-group {
    flex: 1;
    flex-direction: column;
    min-width: 260px;
    margin: 8px 8px;
    padding: 20px 20px 20px;
    border-radius: var(--border-radius);
    background-color: var(--background-color-bubble);
}

.date-input {
    background-color: var(--background-color-bubble);
    border: none;
    padding: 5px;
    border-radius: 4px;
}

.list-element {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.spacer-fill {
    flex-grow: 1;
}

.spacer-gap {
    min-width: 1.2em;
}

.spacer-elements {
    min-width: 0.8em;
}

.button-margin-bottom {
    margin-bottom: 0.8em;
}

.color-caution {
    color: rgb(255, 59, 48);
}

.element-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-width: 600px;
}

.text-font {
    font-weight: var(--main-font-weight);
    writing-mode: horizontal-tb;
    margin-block-start: auto;
    hyphens: auto;
    white-space: normal;
    color: var(--text-color);
    line-height: 1.6;
}

.text-title {
    font-size: 1.1em;
    font-weight: bold;
}

.text-list {
    font-size: var(--base-font-size);
    font-weight: var(--main-font-weight);
}

.text-label {
    font-size: var(--base-font-size);
    font-weight: var(--main-font-weight);
    color: var(--text-color);
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.968;
}

.popup .popuptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--background-color);
    color: #fff;
    text-align: center;
    border-radius: 16px;
    padding: 16px 0;
    position: absolute;
    z-index: var(--z-index-menu: 1000);
    bottom: auto;
    left: auto;
    right: 120%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s ease;
    animation: fadeIn 0.2s ease;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.list-group-header input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-container input[type="checkbox"]:checked + .editable-label {
    text-decoration: line-through;
    margin-right: 10px;

}

.list-group-header input[type="checkbox"]:checked + .editable-label {
    text-decoration: line-through;
}


.checkbox-container {
    display: flex;
    align-items: center;

    padding: 5px 0;

}

.checkbox-container .text-font {
    margin-right: 8px;
    max-width: 200px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkbox-container .spacer-fill {
    margin-left: 10px;


    flex-grow: 1;
}

.checkbox-container .date-input,
.checkbox-container button {
    margin-left: 8px;
    flex-shrink: 0; /* Prevent date input and button from shrinking */
}


#clear-reminders {
    margin-right: 20px;
}



.editable-label[contenteditable="true"] {
    border: 1px dashed #000;
}

.list-group-header {
    display: flex;
    align-items: center;
}

.list-group-header input[type="checkbox"] {
    margin-right: 10px;
}

button[data-action="create-reminder"], .toolbar button {
    margin: 0px 0;
    padding: 5px 10px;
    margin-left: 20px;
}

.inactive-label {
    color: var(--inactive-label-color);
}

.active {
    color: var(--selection-color);
}

.important-active .toolbar-button-text {
    color: var(--important-color);
}

.greyed-out {
    color: grey;
}

.blue-text {
    color: rgb(0, 122, 240);
}

button {
    background-color: var(--background-color-bubble);
    border: 1px solid var(--background-color-bubble);
    border-radius: 4px;
    cursor: pointer;
    color: var(--text-color);
    font-size: var(--base-font-size);
    font-weight: var(--main-font-weight);
    font-family: inherit;
}

button.important {
    color: var(--important-color);
}

button[data-action="toggle-important"].important {
    color: var(--important-color);
}

.selected-list-group {
    outline: 2px solid var(--selection-color);
}

.selected-list-group-important {
    outline: 2px solid var(--important-color);
}

.selected-reminder {
    border: 2px solid var(--selection-color);
}

.editable-label {
    color: var(--text-color);
    cursor: text;
    border: 1px dashed transparent;
}

button#sort-by-date.active .toolbar-button-text {
    color: var(--selection-color);
}

button#show-important.active .toolbar-button-text {
    color: var(--important-color);
}

button#sort-by-date.inactive .toolbar-button-text, button#show-important.inactive .toolbar-button-text {
    color: grey;
    cursor: not-allowed;
    pointer-events: none;
}



.date-input {
    font-family: inherit; /* Inherit from :root */
    font-size: var(--base-font-size);
}

button.inactive {
    color: grey;
    cursor: not-allowed;
    pointer-events: none;
}




    .date-input {
        color: var(--text-color);
    }

    .date-input::-webkit-calendar-picker-indicator {
        filter: invert(1); /* Invert the calendar icon color */
    }
}