:root {
    font-family: Helvetica, Arial, sans-serif;
    --background-color: rgb(238, 238, 240);
    --background-color-bubble: rgb(255, 255, 255);
    --important-color: rgb(255, 184, 110);
    --caution-color: rgb(255, 59, 48);
    --selection-color: rgb(0, 122, 255);
    --inactive-label-color: rgb(142, 142, 147);
    --text-color: rgb(0, 0, 0);
    --base-font-size: 13px;
    --line-height: 1.6;
    --main-font-weight: normal;
    --contentarea-dynamic: 94vw;
    --contentarea-max: 1200px;
    --border-radius: 28px;
    --button-radius: 4px;

}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(28, 28, 28);
        --background-color-bubble: rgb(48, 48, 48);
        --important-color: rgb(255, 159, 10);
        --caution-color: rgb(255, 69, 58);
        --selection-color: rgb(10, 132, 255);
        --inactive-label-color: rgb(152, 152, 157);
        --text-color: rgb(255, 255, 255);
    }

    .date-input::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

.color-caution {
    color: var(--caution-color);
}

.important-active .toolbar-button-text {
    color: var(--important-color);
}

.active {
    color: var(--selection-color);
}

.inactive-label {
    color: var(--inactive-label-color);
}


body,
html {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--contentarea-dynamic);
    max-width: var(--contentarea-max);
    margin: 16px 16px;
}

.flex-container-fixed {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-container-scroll {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
    height: 80vh;
    width: var(--contentarea-dynamic);
    max-width: var(--contentarea-max);
}

.flex-container-elements {
    display: flex;
    flex-wrap: wrap;
    border-radius: var(--border-radius);
}

.toolbar {
    display: flex;
    flex-direction: row;
    margin: 8px 8px 24px 8px;
    padding: 16px 20px;
    border-radius: var(--border-radius);
}

.list-group {
    flex: 1;
    flex-direction: column;
    min-width: 260px;
    margin: 8px 8px;
    padding: 20px 20px;
    border-radius: var(--border-radius);
    background-color: var(--background-color-bubble);
}

.list-element {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.spacer-fill {
    flex-grow: 1;
}


.text-font {
}

.text-title {
    font-weight: bold;
}

.text-list {
    font-size: var(--base-font-size);
}

.list-group-header input[type="checkbox"] {
    margin-right: 10px;
    position: relative;
    bottom: 0.16em;
}


.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-container input[type="checkbox"]:checked + .editable-label {
    text-decoration: line-through;
}

.list-group-header input[type="checkbox"]:checked + .editable-label {
    text-decoration: line-through;
}


.editable-label {
    color: var(--text-color); /* ADAPT FOR GREY STANDARD LABELS */
    cursor: text;
}


button[data-action="create-reminder"], .toolbar button {
    margin-top: 12px;
    margin-left: 22px;
    padding: 4px 10px 6px;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    border-radius: var(--button-radius);
    color: var(--text-color);
    font-size: var(--base-font-size);
    font-weight: var(--main-font-weight);
}


button.important {
    color: var(--important-color);
}

button.inactive {
    color: grey;
    pointer-events: none;
}


.date-input {
    font-family: inherit; /* Inherit from :root */
    font-size: var(--base-font-size);
    color: var(--text-color);
    background-color: var(--background-color-bubble);
    border: none;
    border-radius: var(--button-radius);
    padding: 5px;
}


.selected-list-group {
    outline: 1.6px solid var(--selection-color);
}

.selected-list-group-important {
    outline: 1.6px solid var(--important-color);
}
