:root {
    --base-unit: 8px;
    --scroll-behavior: smooth;
    --toolbar-height: 3em;
    --contentarea-width: calc(100vw - 2em);
    --contentarea-width-max: 1200px;
    --border-radius: 1.6em;
    --button-radius: 4px;
    --font-family: Helvetica, Arial, sans-serif;
    --base-font-size: 14px;
    --color-background: rgb(238, 238, 240);
    --color-background-group: rgb(255, 255, 255);
    --color-hover: rgb(209, 209, 214);
    --color-activated: rgb(199, 199, 204);
    --color-selection: rgb(0, 122, 255);
    --color-important: rgb(255, 184, 110);
    --color-caution: rgb(255, 59, 48);
    --color-text: rgb(0, 0, 0);
    --color-text-inactive: rgb(142, 142, 147);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: rgb(28, 28, 28);
        --color-background-group: rgb(48, 48, 48);
        --color-hover: rgb(58, 58, 60);
        --color-activated: rgb(72, 72, 74);
        --color-important: rgb(255, 159, 10);
        --color-caution: rgb(255, 69, 58);
        --color-selection: rgb(10, 132, 255);
        --color-text: rgb(255, 255, 255);
        --color-text-inactive: rgb(152, 152, 157);
    }
    .date-input::-webkit-calendar-picker-indicator {
        filter: invert(1);
        color: red;

    }
}

.color-selection {
    color: var(--color-selection);
}

.color-important {
    color: var(--color-important);
}

.color-caution {
    color: var(--color-caution);
}

.color-text-inactive {
    color: var(--color-text-inactive);
}

.outline-selection {
    outline: 1em solid var(--color-selection);
}

.outline-important {
    outline: 1em solid var(--color-important);
}


body,
html {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: var(--color-background);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--contentarea-width);
    max-width: var(--contentarea-width-max);
    margin: 3em 2em;
}

.flex-container-fixed {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--toolbar-height);
    padding-left: 51px;
    gap: 0.8em;
}

.flex-container-scroll {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
    width: var(--contentarea-width);
    max-width: var(--contentarea-width-max);
    height: calc(100vh - var(--toolbar-height));
}

.group {
    flex: 1;
    flex-direction: column;
    min-width: 20em;
    margin: 0.8em;
    padding: 1.4em;
    border-radius: var(--border-radius);
    background-color: var(--color-background-group);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    width: 1.8em;
    height: 1.8em;
    color: var(--color-text);
    background-color: transparent;
    border: transparent;
    border-radius: var(--button-radius);
    font-size: var(--base-font-size);
}

button:hover {
    background-color: var(--color-hover);
    transition: opacity 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

button:active {
    background-color: var(--color-activated);
}

button:disabled {
    color: var(--color-text-inactive);
}

.margins-plus-button {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: 16px;
}

.margin-left-right {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.hidden {
    display: none
}

.text-heading {
    font-weight: bold;
    font-size: 1em;
}

.invisible-background-border {
    border: none;
    background: none;
}







.custom-date-input {
    /*appearance: none; !* Remove default styling (not supported in all browsers) *!*/
    /*-webkit-appearance: none; !* Remove default styling in WebKit browsers *!*/
    /*-moz-appearance: textfield; !* Remove default styling in Firefox *!*/


    border: none; /* Add a border */
    font-size: var(--base-font-size);
    background: none; /* Make background transparent */
    color: var(--color-text);
    font-family: Helvetica, Arial, sans-serif;



}


/*::-webkit-calendar-picker-indicator {*/
/*    background: white;*/
/*    color:Cornsilk*/
/*    borde-radius: 3px;*/

/*}*/

/*::-webkit-calendar-picker-indicator:hover{*/
/*    background: Teal;*/
/*    color:Cyan;*/
/*    transform:scale(1.2);*/
/*    cursor:pointer;*/
/*}*/


input {
    color-scheme: dark;
}