:root {
    --base-unit: 8px;
    --contentarea-width: calc(100vw - 2em);
    --contentarea-width-max: 1200px;
    --toolbar-height: 4em;
    --font-family: Helvetica, Arial, sans-serif;
    --color-background: rgb(238, 238, 240);
    --color-background-group: rgb(255, 255, 255);
    --color-hover: rgb(209, 209, 214);
    --color-activated: rgb(199, 199, 204);
    --color-selection: rgb(0, 122, 255);
    --color-important: rgb(255, 184, 110);
    --color-caution: rgb(255, 59, 48);
    --color-text: rgb(0, 0, 0);
    --color-text-inactive: rgb(142, 142, 147);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: rgb(28, 28, 28);
        --color-background-group: rgb(48, 48, 48);
        --color-text-inactive: rgb(152, 152, 157);
        --color-hover: rgb(58, 58, 60);
        --color-activated: rgb(72, 72, 74);
        --color-important: rgb(255, 159, 10);
        --color-caution: rgb(255, 69, 58);
        --color-selection: rgb(10, 132, 255);
        --color-text: rgb(255, 255, 255);
    }

    input {
        color-scheme: dark;
    }
}

.color-text-inactive {
    color: var(--color-text-inactive);
}

.color-important {
    color: var(--color-important);
    background-color: var(--color-background-group);
}

.color-caution {
    color: var(--color-caution);
}

.outline-selection {
    outline: 0.11em solid var(--color-selection);
    background-color: var(--color-background-group);
}

.outline-important {
    outline: 0.1em solid var(--color-important);
}

body,
html {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: var(--color-background);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--contentarea-width);
    max-width: var(--contentarea-width-max);
    margin: 3em 2em;
}

.flex-container-fixed {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--toolbar-height);
    padding-left: 3.4em;
    gap: 0.8em;
}

.flex-container-scroll {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
    width: var(--contentarea-width);
    max-width: var(--contentarea-width-max);
    height: calc(100vh - 9.5em);
}

.group {
    flex: 1;
    flex-direction: column;
    min-width: 20em;
    margin: 0.8em;
    padding: 1.4em;
    border-radius: 1.6em;
    background-color: var(--color-background-group);
}

.item-group {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.item {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.label-heading {
    font-weight: bold;
    font-size: calc(var(--base-unit) * 2.6);
    border: none;
    background: none;
    margin-left: 0.4em;
}

.label-item {
    max-width: 9em;
    font-size: calc(var(--base-unit) * 2);
    border: none;
    background: none;
    margin-left: 0.5em;
}

.label-due-date {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--color-text-inactive);
    font-size: calc(var(--base-unit) * 1.8);
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: 2.1em;
    display: block;
}

button {
    cursor: pointer;
    width: 1.8em;
    height: 1.8em;
    color: var(--color-text);
    background-color: transparent;
    border: transparent;
    border-radius: 0.6em;
    font-size: calc(var(--base-unit) * 2);
}

button:disabled {
    color: var(--color-text-inactive);
}

button:hover {
    background-color: var(--color-hover);
    transition: opacity 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

button:active {
    background-color: var(--color-activated);
}

.date-input {
    background: none;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--base-unit) * 2);
    color: var(--color-text);
}

.margins-plus-button {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: 1.3em;
}

.margins-left-right {
    margin-left: auto;
    margin-right: 0.2em;
}

input[type="checkbox"]:checked + .label-heading,
input[type="checkbox"]:checked + .label-item {
    text-decoration: line-through;
}

.hidden {
    display: none;
}



