:root {
    --background-color: rgb(238, 238, 240);
    --background-color-bubble: rgb(255, 255, 255);
    --text-color: rgb(67, 67, 67);
    /* Default color in light mode */
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgb(255, 255, 255); /* Text color in dark mode */
        --background-color: rgb(28, 28, 28); /* Background color in dark mode */
        --background-color-bubble: rgb(44, 44, 46) ;
    }
}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}

body,
html {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    margin: 48px 16px 32px;
    padding: 0 0 0;
}

.bubble-container {
    flex: auto;
    min-width: 240px;
    max-width: 1200px;
    margin: 8px 8px;
    padding: 20px 20px 20px;
    border-radius: 28px;
    text-align: left;
    background-color: var(--background-color-bubble);
}

.text-font {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-color);
    /*<uniquifier>: Use a unique and descriptive class name*/
    /*<weight>: Use a value from 300 to 700*/
}

.text-heading {
    font-size: 16px;
    font-weight: 500;
}

.text-list {
    font-size: 14px;
    font-weight: 400;
}