:root {
    --background-color: rgb(238, 238, 240);
    --background-color-bubble: rgb(255, 255, 255);
    --text-color: rgb(67, 67, 67);
    --base-font-size: 16px;
    --border-radius: 28px;
    --z-index-base: 1;
    --z-index-toolbar: 100;
    --z-index-menu: 1000;
    --z-index-sheet: 2000;
    --z-index-alert: 3000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgb(255, 255, 255);
        --background-color: rgb(28, 28, 28);
        --background-color-bubble: rgb(44, 44, 46);
    }
}

body,
html {
    display: flex;
    justify-content: center;
    /*height: 99vh;*/
    background-color: var(--background-color);
}

input[type="checkbox"] {
    margin-right: calc(0.4em + var(--base-font-size) * 0.1);
    position: relative;
    bottom: 0.2em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 8px 16px;
}

.flex-container-fixed {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 16px;
    z-index: var(--z-index-toolbar);
}

.flex-container-scroll {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 86vh;
    overflow: auto;
}

.flex-container-elements {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: var(--border-radius);
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    margin: 8px 8px;
    padding: 20px 20px 20px;
    border-radius: var(--border-radius);
    background-color: var(--background-color-bubble);
}

.list-group {
    flex: auto;
    flex-direction: column;
    min-width: 240px;
    margin: 8px 8px;
    padding: 20px 20px 20px;
    border-radius: var(--border-radius);
    background-color: var(--background-color-bubble);
}

.list-element {
    flex: auto;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.spacer-fill {
    flex-grow: 1;
}

.spacer-gap {
    min-width: 2em;
}

.spacer-elements {
    min-width: 0.8em;
}

.button-margin-bottom {
    margin-bottom: 0.8em;
}

.element-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-width: 600px;
}

.text-font {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    writing-mode: horizontal-tb;
    margin-block-start: auto;
    margin-block-end: 0.8em;
    hyphens: auto;
    white-space: normal;
    color: var(--text-color);
    line-height: 1.6;
}

.text-title {
    font-size: 1.2em;
    font-weight: 600;
    /*<weight>: Use a value from 300 to 700*/
}

.text-list {
    font-size: 1em;
    font-weight: 300;
    /*<weight>: Use a value from 300 to 700*/
}


/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 100px;
    background-color: var(--background-color);
    color: #fff;
    text-align: center;
    border-radius: 16px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: auto;
    left: auto;
    right: 120%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s ease;
    animation: fadeIn 0.2s ease;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

